@use 'variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: $font-family-body;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    image-rendering: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color-2;
    border-radius: 6px;
    border: 2px solid $primary-color-5;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html {
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
}

body {
    background-color: $primary-color-6;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: $link-color;
    font-weight: 500;
    text-decoration: none;
    word-break: auto-phrase;
}

a:active {
    filter: brightness(1.2);
}

a:hover {
    color: #30A599;
}

img {
    max-height: 50vh;
    max-width: 100%;
}

blockquote {
    border-left: 2px solid $primary-color-3;
    font-style: italic;
    margin-left: 1em;
    opacity: 75%;
    padding: 0 1em;
}

code {
    background-color: $primary-color-9;
    border-radius: 0.25rem;
    font-family: $font-family-monospace;
    padding: 0.25rem;
}

input {
    border: none;
}

input[type='date'] {
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    padding: 0;
    font-family: inherit;
}
