@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url('@/assets/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    src: url('@/assets/fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('@/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('@/assets/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('@/assets/fonts/roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('@/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url('@/assets/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('@/assets/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: url('@/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    src: url('@/assets/fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900;
    src: url('@/assets/fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100 900;
    src: url('@/assets/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100 900;
    src: url('@/assets/fonts/public-sans/PublicSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 100 900;
    src: url('@/assets/fonts/public-sans/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 100 900;
    src: url('@/assets/fonts/afacad/Afacad-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Afacad';
    font-style: italic;
    font-weight: 100 900;
    src: url('@/assets/fonts/afacad/Afacad-Italic-VariableFont_wght.ttf') format('truetype');
}
