$brand-color: #019EE1;

$primary-color-0: #90A5C3;
$primary-color-1: #7185A3;
$primary-color-2: #53637C;
$primary-color-3: #3B485E;
$primary-color-4: #2C384B;
$primary-color-5: #29394C;
$primary-color-6: #242D3B;
$primary-color-7: #1E2832;
$primary-color-8: #19232D;
$primary-color-9: #141F27;
$primary-color-10: #101A22;

$box-border-color: #42506A;

$accent-color-blue-0: #6DAECA;
$accent-color-blue-1: #2E93BE;
$accent-color-blue-2: #0F6D95;

$accent-color-green-0: #87CB7E;
$accent-color-green-1: #63AB5A;
$accent-color-green-2: #548E4D;

$accent-color-purple-0: #CA85C5;
$accent-color-purple-1: #BA61B4;
$accent-color-purple-2: #8A5685;

$accent-color-red-0: #DA8E95;
$accent-color-red-1: #B9434F;
$accent-color-red-2: #872A32;

$accent-color-orange-0: #D39B5B;
$accent-color-orange-1: #CB7C23;
$accent-color-orange-2: #7D582D;

$accent-color-yellow-0: #ECEDC7;
$accent-color-yellow-1: #E9EC94;

$accent-color-black-0: #232323;
$accent-color-black-1: #1C1C1C;

$text-color: #CFD4DA;

$link-color: #9DF5ED;

$font-family-title: 'Ubuntu', sans-serif;
$font-family-body: 'Ubuntu', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;

$box-shadow-sm: 1px 2px .5em #1C2B2B;
$box-shadow-md: 1px 2px .5em 2px #031515;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
